@import url('https://fonts.googleapis.com/css2?family=Black+Ops+One&family=Electrolize&family=Kurale&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Russo+One&display=swap');
/* font-family: "Kurale", serif; */
/*  font-family: "Electrolize", sans-serif; */
/* font-family: "Black Ops One", system-ui; */
/*   font-family: "Russo One", sans-serif; */
body{
    padding: 0;
    margin: 0;
}

.navbar-container {
    background-color: rgb(143, 150, 171);
    font-family: "Electrolize", sans-serif; 
    height: 65px;
    padding: 15px;
    position: sticky;
    top: 0;
    z-index: 10;
    display: flex;
    align-items: center;
    justify-content: space-around;
    border: 1px solid gray;
}

.navbar-logo {
    height: 100px;
}

.navbar-names {
    text-decoration: none;
    color: rgb(16, 15, 15);
    font-size: 25px;
    font-weight: bold;
}

.input-box {
    width: 320px;
    padding: 15px;
    border-radius: 20px;
    border: none;
    border: 1px solid black;
}

.signup-btn {
    background-image: radial-gradient( circle 1292px at -13.6% 51.7%,  rgba(0,56,68,1) 0%, rgba(163,217,185,1) 51.5%, rgba(255,252,247,1) 88.6% );
    padding: 10px 20px;
    cursor: pointer;
    color: aliceblue;
    border-radius: 10px;
    font-weight: bold;
}

.img-theme {
    height: 30px;
    padding: 5px;
    border-radius: 5px;
    margin: 0 3px;
}

.active {
    border: 1px solid black;
}

.theme-dark {
    background-color: #000;
    color: #fff;
}

.theme-Light {
    background-color: #ffffff;
    color: #000;
}

.home-img{
    height: 86vh;
    width: 100%;
}

.laptop-heading{
    font-size: 45px;
    text-align: inherit;
    font-family: "Kurale", serif;
    top: 200px;
    left: 60px;
    position: absolute;
    color: rgb(26, 6, 71);
}

.lap-img{
    width: 100%;
    height: 40vh;
    margin-top: 100px;
    position: relative;
}

.head{
    align-items: justify;
    font-family: "Kurale", serif;
    font-size: 30px;
    bottom: -300px;
    left: 600px;
    position: absolute;
    
}

.laptops-container{
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: space-evenly;
    flex-wrap: wrap;
    margin-top: 40px;
}

.laptop-type-container{
    height: 250px;
    width: 300px;
}

.laptop-type-container:hover{
    background-image: linear-gradient(135deg, #f5f7fa 0%, #c3cfe2 100%);
    border-radius: 20px;
}

.types{
    text-align: center;
    font-family: "Kurale", serif;
}

.laptop-types{
    display: flex;
    align-items: center;
    height: 150px;
    margin: 20px auto;
}

.contact-container{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    position: fixed;
    right: 20px;
    top: 500px;
    z-index: 100;
}

.contact-icon{
 height: 50px;
 margin: 5px;
}

.service-heading{
    text-align: center;
    font-size: 50px;
    color: brown;
    margin-top: 60px;
    font-family: "Kurale", serif;
}

.laptop-service-types{
    display: flex;
    align-items: center;
    height: 90px;
    margin: 20px auto;
}

.services-img{
    width: 100%;
    margin-top: 100px;
}

.laptop-service-container{
    height: 180px;
    width: 220px;
    margin: 5px;
    border-radius: 10px;
    background-color: #d9afd9;
    cursor: pointer;
}

.laptop-service-container:hover{
    border: 2px solid black;
}

.laptop-types-2{
    display: flex;
    align-items: center;
    height: 200px;
    margin: 10px auto;
    border-radius: 20px;
}

.laptop-type-container-2{
    height: 320px;
    width: 250px;
}

.buy-now-btn {
    font-size: 15px;
    padding: 5px 20px;
    background-color: rgb(26, 22, 22);
    color: white;
    border-radius: 50px;
    margin-left: 65px;
}

.buy-now-btn:hover {
    padding: 7px 25px;
    background-color: white;
    color: black;
    cursor: pointer;
}

.laptop-logo{
    height: 80px;
    width: 200px;
    margin: 20px;
}

.laptop-cards{
    display: flex;
    align-items: center;
    height: 350px;
    margin: 5px auto;
    border-radius: 20px;
}

.card-img{
    height: 320px;
    width: 250px;
}

.home-img-container{
    margin-top: 50px;
    position: relative
}

.home-img-1{
    width: 100%;
}

.left-arrow-change{
    height: 40px;
    position: absolute;
    left: 50px;
    top: 300px;
}

.right-arrow-change{
    height: 40px;
    position: absolute;
    right: 50px;
    top: 300px;
}

.footer-container {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    background-color: rgb(143, 150, 171);
    color: black;
    margin-top: 50px;
}

.footer-img {
    height: 200px; 
    margin-top: 30px;
}

.footer-quick-links {
    font-style: italic;
    height: 180px;
    width: 200px;
    color: black;
    margin: 10px;
    padding: 20px 20px;
    text-align: left;
   
}
.footer-items{
    text-decoration: none;
    color: rgb(6, 4, 4);
}

.footer-useful-link {
    height: 180px;
    width: 200px;
    color: rgb(10, 9, 9);
    margin: 10px;
    padding: 20px 20px;
    text-align: left;
    font-style: italic;
}

.footer-contact {
    height: 180px;
    width: 200px;
    color: rgb(14, 12, 12);
    margin: 10px;
    padding: 20px 20px;
    text-align: left;
    font-style: italic;
}

.footer-icon {
    font-size: 26px;
    margin: 10px;

}


/* media querry */

@media screen and (min-width: 993px) and (max-width: 1200px) {
    .navbar-container {
        padding: 10px;
    }

    .navbar-logo {
        height: 60px;
    }

    .navbar-names {
        font-size: 16px;
    }

    .input-box{
        width: 250px;
    }

    .city-heading{
        top: 240px;
        left: 50px;
        font-size: 35px;
    }

    .lap-img{
        margin-top: 100px;
    }
    
    .head{
        font-size: 30px;
        bottom: -300px;
        left: 300px;    
    }

    .left-arrow-change{
        height: 30px;
        left: 30px;
        top: 200px;
    }
    
    .right-arrow-change{
        height: 30px;
        right: 30px;
        top: 200px;
    }
    
}

@media screen and (min-width: 769px) and (max-width: 992px) {

    .navbar-names {
        font-size: 12px;
    }

    .navbar-logo {
        height: 60px;
    }

    .input-box{
        width: 130px;
    }

    .laptop-heading{
        top: 320px;
        left: 50px;
        font-size: 28px;
    }

    .lap-img{
        margin-top: 100px;
    }
    
    .head{
        font-size: 28px;
        bottom: -300px;
        left: 160px;    
    }   

    .left-arrow-change{
        top: 150px;
    }
    
    .right-arrow-change{
        top: 150px;
    }
}
